<h2>Login</h2>
<% form_for(:session, :url => session_path) do |f| %>
  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.submit 'Sign in' %>
  </div>
<% end %>
