<div id="login_form">
  <h2>Password</h2>
  <% form_for(:session, :url => session_path) do |f| %>
    <div class="field">
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.submit 'Sign in', :id => 'login_button' %>
    </div>
  <% end %>
</div>
