body {
  background-image: url("/images/background.jpg");
}

h2 {
  margin: 0;
}

input[type="text"], textarea {
  border: 1px solid #ddd;
}

input[type="submit"] {
  background-color: #345;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 2px 10px;
}

input[type="submit"]:hover {
  background-color: #fff;
  color: #345;
  cursor: pointer;
}

textarea {
  width: 98%;
  height: 100px;
}

input[type="text"]:focus, textarea:focus {
  border: 1px solid rgba(51, 102, 153, 0.6);
  box-shadow: 0 0 5px rgba(51, 102, 153, 0.6);
  outline: medium none;
}

#main {
  width: 740px;
  margin: 0 auto; 
  /*background-color: #fff;
  padding: 20px;*/
}

.post {
  margin-top: 30px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.post_title {
  background: #555;
  padding: 5px 20px 0;
  border-radius: 5px 5px 0 0;
}

.post_info {
  margin-top: 2px;
  color: #ddd;
  font-size: 75%;
}

.post_content {
  border-radius: 0 0 5px 5px;
  padding: 20px 20px 5px;
}

.post_title a {
  text-decoration: none;
  color: #ddd;
}

.post_title a:hover {
  color: #fff;
}

.comments_link {
  margin-left: 20px;
  color: #369;
  font-size: 75%;
  cursor: pointer;
}

.comments_link:hover {
  color: #47a;
} 

.comments {
  padding-left: 20px;
}

.comment {
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}

.gravatar {
  width: 80px;
  float: left;
}

.comment_content {
  width: 600px;
  float: left;
}

.field {
  padding: 3px 0 3px;
}

.clear {
  clear: both;
}

.comments_list ol {
  padding-left: 0;
}

.comments_list li {
  list-style-type: none;
}

.comment_author a {
  color: #36a;
}
