#wrapper {
  width: 740px;
  margin: 0 auto;
}

header h1 {
  margin: 0;
  float: left;
  font-family: sans-serif;
  font-size: 45px;
}

header a {
  text-decoration: none;
  color: #555;
}

header a:hover {
  color: #777;
}

nav {
  float: right;
  margin-bottom: -15px;
}

nav ol {
  padding: 0;
}

nav ol li {
  list-style-type: none;
  display: inline-block;
}

nav ol li a {
  background-color: #555;
  color: #ddd;
  padding: 3px 5px;
  margin-left: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

nav ol li a:hover {
  color: #fff;
}

body {
  background-image: url("/images/background.jpg");
  font-family: "Lucida Grande", "WenQuanYi Micro Hei", "Microsoft Yahei", "Bitstream Vera Sans", Arial, sans-serif;
  color: #333;
}

a {
  color: #369;
  text-decoration: none;
}

a:hover {
  color: #47a;
}

pre {
  margin: 0;
}

input[type="text"], input[type="password"], textarea {
  border: 1px solid #ddd;
  font-size: 12px;
}

input[type="submit"] {
  background-color: #345;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 2px 10px;
}

input[type="submit"]:hover {
  background-color: #fff;
  color: #345;
  cursor: pointer;
}

.comments textarea {
  width: 99%;
  height: 100px;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  border: 1px solid rgba(50, 100, 150, 0.6);
  box-shadow: 0px 0px 5px rgba(50, 100, 150, 0.6);
  outline: medium none;
}

.post, .page {
  margin-top: 30px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.post_title, .page_title {
  background: #555;
  padding: 5px 20px;
  border-radius: 5px 5px 0 0;
}

.post_title h2, .page_title h2 {
  display: inline;
  margin: 0;
}

.post_title a, .page_title a {
  padding: 0 10px;
}

.post_info, .page_info {
  margin: 10px 20px 0;
  color: #aaa;
  font-size: 75%;
}

.post_date {
  float:left;
}

.post_tags {
  float: right;
}

.post_tag {
  display: inline;
  margin-left: 5px;
}

.post_tag a {
  color: #aaa;
  text-decoration: none;
}

.post_tag a:hover {
  color: #777;
}

.post_content, .page_content {
  border-radius: 0 0 5px 5px;
  padding: 5px 20px 5px;
  line-height: 1.4em;
  color: #333;
  font-size: 14px;
}

.post_content img, .page_content img {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.post_title a, .page_title a {
  text-decoration: none;
  color: #ddd;
}

.post_title a:hover, .page_title a:hover {
  color: #fff;
}

.comment_icon {
  margin: 0 3px 0 20px;
  position: relative;
  top: 2px;
}

.comments_toggle_button {
  color: #369;
  font-size: 75%;
  cursor: pointer;
}

.comments_toggle_button:hover {
  color: #47a;
} 

.comments {
  padding: 0 20px;
}

.comment {
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}

.gravatar {
  text-align: center;
  width: 100px;
  float: left;
  margin: 7px 10px 0 0;
}

.gravatar_image {
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.comment_content {
  width: 590px;
  float: left;
  font-size: 14px;
}

.comment_content p {
  margin: 2px 0;
}

.field {
  padding: 3px 0;
}

.field label {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
}

.clear {
  clear: both;
}

.comments_list {
  padding-left: 0;
}

.comments_list li {
  list-style-type: none;
}

.comment_author {
  font-size: 75%;
  color: #36a;
}

.comment_author a {
  color: #36a;
  text-decoration: none;
}

.comment_info {
  font-size: 75%;
  color: #777;
  margin-bottom: 3px;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination a, .pagination em, .disabled {
  padding: 1px 5px;
  margin: 0 3px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: #333;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  font-size: 12px;
}

.pagination em {
  color: #fff;
  background: #555;
  border: 1px solid #555;
}

.disabled {
  display: none;
}

.pagination a:hover {
  color: #fff;
  background: #555;
}

.underline {
  border-bottom: 1px solid #ccc;
}

footer {
  text-align: center;
  font-size: 80%;
  color: #555;
  margin: 30px auto 15px;
}

#edit_form {
  width: 100%;
  margin: 0 auto;
}

#edit_form textarea, #edit_form input[type="text"] {
  width: 98%;
}

#dashboard {
  width: 900px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#dashboard a {
  text-decoration: none;
}

#dashboard_title {
  display: inline;
}

#dashboard table {
  padding-top: 10px;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  width:100%;
  text-align: center;
}

#dashboard table caption h3 {
  float: left;
  margin: 0;
}


#dashboard table caption a {
  float: right;
  margin-right: 10px;
}


#login_form {
  width: 400px;
  margin: 200px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
}

#login_button {
  width: 80px;
  height: 30px;
}

#logout_button {
  float: right;
  margin-right: 10px;
}
