body {
  background-image: url("/images/background.jpg");
}

h2 {
  margin: 0;
}

input, textarea {
  border: 1px solid #ddd;
}

textarea {
  width: 98%;
  height: 100px;
}

input:focus, textarea:focus {
  border: 1px solid rgba(51, 102, 153, 0.6);
  box-shadow: 0 0 5px rgba(51, 102, 153, 0.6);
}


#main {
  width: 740px;
  margin: 0 auto; 
  /*background-color: #fff;
  padding: 20px;*/
}

.post {
  margin-top: 30px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.post_title {
  background: #555;
  padding: 5px 20px 0;
  border-radius: 5px 5px 0 0;
}

.post_info {
  margin-top: 2px;
  color: #ddd;
  font-size: 75%;
}

.post_content {
  border-radius: 0 0 5px 5px;
  padding: 20px 20px 5px;
}

.post_title a {
  text-decoration: none;
  color: #ddd;
}

.post_title a:hover {
  color: #fff;
}

.comments_list {
  margin-top: 20px;
  padding: 0 20px 10px;
}

.comments_link {
  margin-left: 20px;
  color: #369;
  font-size: 75%;
  cursor: pointer;
}

.comments_link:hover {
  color: #47a;
} 

.field {
  padding: 3px 0 3px;
}
