<div class="page_title">
  <h2><%= link_to page.title, page_url(page) %></h2>
  <%if logged_in? %>
    <%= link_to '[edit]', edit_admin_page_url(page) %>
  <% end %>
</div>

<div class="page_info">
  Posted on <%= page.created_at.to_s(:db) %>
</div>

<div class="page_content">
  <%= raw page.content %>
</div>
