<% div_for @page do %>
  <%= render @page %>

  <div class="comments">
    <%= render :partial => 'comments/comments',
               :locals => { :comments => @page.comments,
                            :commentable_id => @page.id } %>
    <%= render :partial => 'comments/form',
               :locals => { :commentable => @page } %>
  </div>

<% end %>
