<% div_for @post do %>
  <%= render @post %>

  <div class="comments">
    <%= render :partial => 'comments/comments',
               :locals => { :comments => @post.comments,
                            :commentable_id => @post.id } %>
    <%= render :partial => 'comments/form', :locals => { :commentable => @post } %>
  </div>
<% end %>
