<% div_for @post, :class => "round shadow" do %>
  <%= render @post %>

  <div class="comments_list">
    <%= render @post.comments %>
  </div>

  <%= render :partial => 'comments/form', :locals => { :commentable => @post } %>
<% end %>
